<html>
    <head>
        <style>
    table, th, td{
		border: 1px solid black;
	}
    </style>
    </head>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <body>
	<br>
	Contents:
	<table>
		<th>ID</th>
		<th>Name</th>
        <th>Link</th>
		{% for line in content%}
	
			<tr>
				<td>{{line.ID}}</td>
				<td>{{line.name}}</td>
				<td>{{line.link}}</td>
				
			</tr>
		{% endfor %}
	</table>
	
	<br>
	Comments:
	<table>
		<th>Username</th>
		<th>Text</th>
        <th>Timestamp</th>
		{% for line in comments%}
	
			<tr>
				<td>{{line.username}}</td>
				<td>{{line.text}}</td>
				<td>{{line.timestamp}}</td>
				
			</tr>
		{% endfor %}
	</table>
	
	<br>
	Tags:
	<table>
		<th>Tagger</th>
		<th>Taggee</th>
        <th>Timestamp</th>
		{% for line in tags%}
	
			<tr>
				<td>{{line.tagger}}</td>
				<td>{{line.taggee}}</td>
				<td>{{line.timestamp}}</td>
				
			</tr>
		{% endfor %}
	</table>
	
	<button onclick="location.href='/home'" id="myButton" class="float-left submit-button" >Home</button>
    </body>
	
	
</html>