<html>
<head>
</head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<body>
<form action="/post" method="POST">
	<h1>Welcome {{username}}</h1> 
    Title: <input type="text" name = "blog" placeholder="post" required/> </br>
    Link(optional): <input type="text" name = "link" placeholder="post"/> </br>
    <select name="privacy" id = "pr" onchange="myFunction()">
        <option value="public">Public</option>
        <option value="private">Private</option>
    </select>
	
	 <select id = "friends">
	
	{% for line in friendgroups %}
		<option value = {{line.Title}}> {{line.Title}} </option>
	{% endfor %}
	</select>

	
    </br>
	<input type="submit" value = Post />
</form>

<style type="text/css">
	table, th, td{
		border: 1px solid black;
	}
</style>

<table>
	<th>Time</th>
	<th>Post</th>
	<th>link</th>
	<th>privacy</th>
	
{% for line in posts %}
	<tr>
		<td>{{line.ts}}</td>
		<td>{{line.blog_post}}</td>
		<td>{{line.link}}</td>
		<td>{{line.privacy}}</td>
	</tr>
{% endfor %}
</table>

<a href="/logout">Logout</a>

</body>


<script type="text/javascript">
	
	function myFunction() {
		var x = document.getElementById("pr").value;
		if(x == "private") {
			$("#friends").show()
		}
		else {
			$("#friends").hide()
		}
	}
	
	$( document ).ready(function() {
		$("#friends").hide()
	});

</script>

</html>