<html>
<head>
    <style>
    table, th, td{
		border: 1px solid black;
	}
    </style>
</head>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<body>
    <h1>Welcome {{username}}</h1> 
	
	<h3> Timeline: </h3>
	<table>
        <th>Name</th>
        <th>Link</th>
		<th>Timestamp</th>
        
        {% for line in postline %}
            <tr>
                <td>{{line.name}}</td>
                <td>{{line.link}}</td>
				<td>{{line.timestamp}}</td>
            </tr>
        {% endfor %}
    </table>
    
    <h3> Create Friend Groups: </h3>
    
    <form action="/addfg" method="POST">
        Name: <input type="text" name = "name" placeholder="Name of Group" required/> </br>
        Description: <input type="text" name = "description" placeholder="What is this group about" required/> </br>
        <input type="submit" value = Create />
    </form>
    
    <table>
        <th>Name</th>
        <th>Description</th>
        
        {% for line in friendgroups %}
            <tr>
                <td>{{line.name}}</td>
                <td>{{line.description}}</td>
            </tr>
        {% endfor %}
    </table>
	
	<h3> Add to your existing Friend Groups </h3>
	
	<form action="/addtofg" method="POST">
		Username: <input type="text" name="name" placeholder="User of friend" required/> <br>
		<select name = "friendgroups">
        {% for line in friendgroups %}
           <option value = {{line.name}}> {{line.name}} </option>
        {% endfor %}
        </select>
		<br>
		<input type="submit" value = AddFriend>
	</form>
	
	
    
    <h3> Post Content: </h3>
    
    <form action="/post" method="POST">
		<input type ="hidden" id="hiddenID" name="id" /> 
        Title: <input type="text" name ="name" placeholder="Name of Content" required/> </br>
        Link (optional): <input type="text" id= "link" name = "link" placeholder="Link"/> </br>
        
        <select name="privacy" id = "pr" onchange="myFunction()">
            <option value="public">Public</option>
            <option value="private">Private</option>
        </select>

        <select name = "friends" id="friends">

            {% for line in friendgroups %}
                <option value = {{line.name}}> {{line.name}} </option>
            {% endfor %}
        </select>
        
        
        </br>
        <input type="submit" value = Post onclick="getRandomID"/>
        
    </form>
    
    <table>
		<th>ID</th>
        <th>Name</th>
        <th>Time</th>
        <th>Link</th>
        <th>privacy</th>
    
        {% for line in posts %}
            <tr>
				<td>{{line.ID}}</td>
                <td>{{line.name}}</td>
                <td>{{line.timestamp}}</td>
                <td>{{line.link}}</td>
                <td>{{line.privacy}}</td>
            </tr>
        {% endfor %}
    </table>
    
    <a href="/logout">Logout</a>

</body>


<script type="text/javascript">
	function myFunction() {
		var x = document.getElementById("pr").value;
		if(x == "private") {
			$("#friends").show()
		}
		else {
			$("#friends").hide()
		}
	}
	
	$( document ).ready(function() {
		$("#friends").hide()
	});
	
	function getRandomID() {
		var contentid;
		contentid = Math.floor(Math.random()*900);
		document.getElementById("hiddenID").value = contentid;
	}
	window.onload = getRandomID();

</script>

</html>